.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  /* Style for the modal overlay */
  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5) !important; /* Dark overlay */
  }
  
  /* Style for the modal content */
  .modal-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    background: white;
  }
  
  /* Style for the modal header */
  .modal-header {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  /* Style for the modal body */
  .modal-body {
    margin-bottom: 20px;
  }
  .title {
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .list-of-components {
    padding-left: 20px;
    margin-left: 5px;
  }
  .margin10 {
    margin-left: 10px;
  }
  /* Style for the close button */
  .close-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }